body{
    margin: 0;
    background-color: rgb(255 248 209);
}

.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}
.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}
.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}
.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected{
    /*opacity: 0.4;*/
    background-color: greenyellow;
    box-shadow: inset 10px 15px 40px 20px white;
    /* 10px 15px 20px 20px yellow; */
}
.green_b{
    box-shadow:
    /* inset 5px 5px 20px 10px green, */
    inset 10px 10px 20px 10px white,
    -20px -20px 40px 10px rgba(0, 156, 0);
}
.yellow_b{
    box-shadow: inset -5px -5px 20px 10px white,
    -20px 20px 40px 10px rgb(255, 255, 108);
}
.red_b{
    box-shadow: inset 5px 1px 20px 10px white,
    20px -20px 40px 10px rgb(255, 51, 51);
}
.blue_b{
    box-shadow: inset 5px 5px 20px 10px white,
    20px 20px 40px 10px rgb(75, 75, 255);
}